<h1>Héroes <small>Marvel y DC</small> </h1>
<hr>


<!-- BOTSTRAP IRREGULAR -->
<!-- <div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col " *ngFor="let heroe of heroes" >
    <div class="card animated fadeIn fast">
      <img [src]="heroe.img" class="card-img-top" [alt]="heroe.nombre">
      <div class="card-body">
        <h5 class="card-title">{{heroe.nombre}}</h5>
        <p class="card-text">{{heroe.bio}}</p>
        <p class="card-text"><small class="text-body-secondary">{{heroe.aparicion}}</small></p>
          
          <div class="d-grid gap-2">
            <button type="button" class="btn btn-outline-primary">Ver más..</button>
          </div>

      </div>
    </div>
  </div>
</div> -->

<!-- ALTERNATIVA A COLUMNS -->
<!-- <div class="row" data-masonry="{&quot;percentPosition&quot;: true }" style="position: relative; height: 0px;">
   
    <div class="col-sm-6 col-lg-4 mb-4" style="position: absolute; left: 0%; top: 0px;" *ngFor="let heroe of heroes; let i = index">
        <div class="card">
          <img [src]="heroe.img" class="card-img-top" [alt]="heroe.nombre">
          <div class="card-body">
            <h5 class="card-title">{{heroe.nombre}}</h5>
            <p class="card-text">{{heroe.bio}}</p>
            <p class="card-text"><small class="text-body-secondary">{{heroe.aparicion}}</small></p>
              
              
  
              <a [routerLink]="['/heroe',i]" class="btn btn-outline-primary">Ver más link...</a>
  
  
          </div>
        </div>
      </div>
</div> -->

<!-- CAMBIO DE PAGINA FORM1 -->
<!-- <a [routerLink]="['/heroe',i]" class="btn btn-outline-primary">Ver más link...</a> -->

<!-- BOOTSTRAP CUADRADO row row-cols-1 row-cols-md-2 g-4   row row-cols-1 row-cols-md-3 g-4-->
<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col" *ngFor="let heroe of heroes; let i = index">
    <div class="card h-100 animated fadeIn" >
      <img [src]="heroe.img" class="card-img-top" [alt]="heroe.nombre">
          <div class="card-body">
            <h5 class="card-title">{{heroe.nombre}}</h5>
            <p class="card-text">{{heroe.bio}}</p>
            <p class="card-text"><small class="text-body-secondary">{{heroe.aparicion}}</small></p>
              
              <div class="d-grid gap-2">
                <button (click)="verHeroe(i)" type="button" class="btn btn-outline-primary">Ver más..</button>
              </div>
  
              <!-- <a [routerLink]="['/heroe',i]" class="btn btn-outline-primary">Ver más link...</a>
   -->
  
          </div>
    </div>
  </div>
</div>



------TARJETAA-----


<div class="col" >
  <div class="card h-100 animated fadeIn" >
    <img [src]="heroe.img" class="card-img-top" [alt]="heroe.nombre">
        <div class="card-body">
          <h5 class="card-title">{{heroe.nombre}}</h5>
          <p class="card-text">{{heroe.bio}}</p>
          <p class="card-text"><small class="text-body-secondary">{{heroe.aparicion}}</small></p>
            
            <div class="d-grid gap-2">
              <button (click)="verHeroe()" type="button" class="btn btn-outline-primary">Ver más..</button>
            </div>

            <!-- <a [routerLink]="['/heroe',i]" class="btn btn-outline-primary">Ver más link...</a>
 -->

        </div>
  </div>
</div>


------HEROES----

<h1>Héroes <small>Marvel y DC</small> </h1>
<hr>

<!-- <div class="row row-cols-1 row-cols-md-3 g-4"> -->
  <div class="row" data-masonry="{&quot;percentPosition&quot;: true }" style="position: relative; height: 0px;">
  <!-- *ngFor="let heroe of heroes; let i = index" -->
  <app-heroe-tarjeta [heroe]="heroe" [index]="i" *ngFor="let heroe of heroes; let i = index"></app-heroe-tarjeta>

</div>